table {
  border: 2px solid teal;
  border-collapse: separate;
  padding: 20px;
  border-radius: 10px;
}

th {
  padding: 10px;
  border: 1px solid teal;
  background-color: teal;
}

td {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #eee;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  // min-height: 50vh;
}

#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #5d1049;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.2em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #e30425;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: rgb(212, 246, 57);
  background: rgb(161, 18, 133);
}
ul ul a {
  font-size: 1em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

//forms
.header {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 25px;
  color: #36a0ff;
}
