
<div id="scroll-animate scroll-animate-main wrapper-parallax">
    <header class="row" style="margin-top:-40px;padding-top:0px">
      <div class="page-header" style="background-color:#2c2c2c">
    
    
        <div class="container">
          <img class="col-lg-3 col-md-3 col-sm-6 col-xs-12 logo" src="../assets/emereNvendre.svg" align="left" style="position:relative;margin-left:-150px;margin-top:10px;max-height:100px">
          <b class="col-lg-3 col-md-3 col-sm-6 col-xs-12 " align="center" style="color:#da3730;font-size:40px;padding-top:25px;margin-left:-50px;vertical-align: middle;">emereNvendre</b>
          <small class="col-lg-3 col-md-3 col-sm-6 col-xs-12 " style="color: #a6a6a6;font-size:20px;padding-top:80px;margin-left:-50px" > NITK's Sharing Platform</small>
        </div>
      </div>
    </header>
</div>

<div class="container" style="margin:10px">
    <div class="card" style="height:100%;padding:20px;">
      <header>
        <div style="padding:20px;font-size:30px">FAQ</div>
      </header>
      <div style="padding:20px">
        
        <b style="font-size:20px">1. Search Item</b><br>
        <i style="font-size:20px">
        Buyer searches for the item present in the database.<br>
        The item should be present in the database. The Seller has to post details of that Item.<br>
        The Item to be searched is either found or not found.</i>

      </div>
      <br><br>
      <div style="padding:20px">
        
          <b style="font-size:20px">
              2.
              Select Item
              </b><br>
          <i style="font-size:20px">
              Buyer selects item which it wants  from the item present in the database.<br>
          
The Item has to be searched for it to be selected.
<br>
The desired item has been selected.</i>
  
        </div>
        <br><br>
        <div style="padding:20px">
        
            <b style="font-size:20px">3. Provides Seller Contact</b><br>
            <i style="font-size:20px">
                Buyer gets the contact details of the seller for negotiation.<br>
                The Item has to be selected by the buyer.<br>
                The buyer gets the seller’s contact details for negotiation.</i>
    
          </div>
          <br><br>
          <div style="padding:20px">
        
              <b style="font-size:20px">4. Post Item</b><br>
              <i style="font-size:20px">
                  Seller posts the information of the item to be sold. 
                  <br>
                  The Seller has to do User Authentication.<br>
                  The Seller successfully provides the details of the item.</i>
      
            </div>
            <br><br>
            <div style="padding:20px">
        
                <b style="font-size:20px">5. Request Item</b><br>
                <i style="font-size:20px">
                    Buyer provide detail of the item which is it wants.<br>
                    The Buyer has to do User Authentication.<br>
                    The Buyer successfully puts the request of the item it wants.</i>
        
              </div>
              <br><br>
              <div style="padding:20px">
        
                  <b style="font-size:20px">6. Registration</b><br>
                  <i style="font-size:20px">
                      Buyer or Seller  register in the web application for sign-in.<br>
                      User has to fill required form for the Registration.<br>
                      User has been successfully 
                      registered.
                      </i>
          
                </div>
                <br><br>
                <div style="padding:20px">
        
                    <b style="font-size:20px">7. User Authentication</b><br>
                    <i style="font-size:20px">
                        The process of confirming the identity <br>
                    
User has to be registered in the application or have a google account.
<br>
                    
The Identity of the User is confirmed. 
</i>
            
                  </div>
                  <br><br>
                  <div style="padding:20px">
        
                      <b style="font-size:20px">8. User sign-in</b><br>
                      <i style="font-size:20px">
                          The process of confirming the identity of the User through the data present in the database of the application.<br>
                          User has to be  registered in the application.<br>
                          The Identity of the User is confirmed.</i>
              
                    </div>
                    <br><br>
                    <div style="padding:20px">
        
                        <b style="font-size:20px">9. Single sign-on</b><br>
                        <i style="font-size:20px">
                            The User can login to the System through google account.<br>
                            The User should have a google account.<br>
                            The Identity of the User is confirmed.</i>
                
                      </div>
                      <br><br>


    </div>
</div>    

<br><br>
<app-footer></app-footer>
