<script src="https://use.fontawesome.com/db742b70a5.js"></script>
<footer class="foot" >
  <div class="container x1">
    <div class="col-lg-4 col-md-4 col-sm-4">
     
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
     
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="x1 row font-mont" style="font-size:23px;padding-left:2.5em;padding-top:20px"><u>FOLLOW US ON SOCIAL MEDIA</u></div>
      <br>
        <ul class="row">
          <a class="col-lg-1 col-md-2 col-sm-2"></a>
           <a class="col-lg-1 col-md-2 col-sm-2" href="https://www.facebook.com/" target="_blank" style="color:white;padding-left:20px"><i class="fab fa-facebook-f" style="font-size:60px"></i></a>
            <a class="col-lg-1 col-md-2 col-sm-2"href="https://twitter.com/" target="_blank" style="color:white;padding-left:20px"><i class="fab fa-twitter" style="font-size:60px"></i></a>
            <a class="col-lg-1 col-md-2 col-sm-2"href="https://in.pinterest.com/" target="_blank" style="color:white;padding-left:40px"><i class="fab fa-pinterest" style="font-size:60px"></i></a>
           <a class="col-lg-1 col-md-2 col-sm-2" href="https://github.com/shushantkumar/REST-API-for_Online_Classified_Ads" target="_blank" style="color:white;padding-left:60px"> <i class="fab fa-github" style="font-size:60px"></i></a>
        </ul>
        <br>
        <div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <ul>
                    <h3 class="text-col font-mont x1" style="color:white"><u>ABOUT emereNvendre</u><sup style="font-size:15px">&copy;</sup></h3><br>
                    <li class="ul-li x1 font-mont"><a href="https://emerenvendre.herokuapp.com/aboutus" ui-sref="" class="text-gray74" style="color:white;font-size:18px">About Us</a></li><br>
                    <li class="ul-li x1 font-mont"><a href="https://emerenvendre.herokuapp.com/faq" ui-sref="" class="text-gray74" style="color:white;font-size:18px">FAQ</a></li><br>
                    <li class="ul-li x1 font-mont"><a href="https://emerenvendre.herokuapp.com/joinus" ui-sref="" class="text-gray74"style="color:white;font-size:18px">Join Us</a></li><br>
    
                    <br>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <ul>
                    <h3 class="text-col font-mont x1" style="color:white"><u>CONTACT US</u></h3><br>
                    <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74" style="color:white;font-size:18px">emerenvendre@gmail.com</a></li><br>
                    <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74" style="color:white;font-size:18px">(+91)-9482525440</a></li><br>
                    <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74"style="color:white;font-size:18px">NITK</a></li><br>
    
                    <br>
                </ul>
            </div>

        </div>
    </div>
  </div>
</footer>