<app-homeboard></app-homeboard>
<div class="container-fluid">
  <div class="col-lg-3">
    <div class="wrapper" style="margin-left: -30px">
      <!-- Sidebar -->
      <nav id="sidebar">
          <ul class="list-unstyled components">
              <li>
                <a href="home"><i class="fa fa-home" style="margin: 0px 12px 0px 10px"></i> Dashboard  </a>
              </li>
              <li class="active">
                <a href="home/products"><i class="fa fa-cubes" style="margin: 0px 12px 0px 10px"></i> Products  </a>
              </li>
              <li>

                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dolly" style="margin: 0px 12px 0px 10px"></i> Make Transactions  </a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li>
                          <a href="home/buytrans"><i class="fa fa-file-import" style="margin: 0px 12px 0px 10px"></i> Buy Transactions  </a>
                      </li>
                      <li>
                          <a href="home/selltrans"><i class="fa fa-file-export" style="margin: 0px 12px 0px 10px"></i> Sell Transactions  </a>
                      </li>
                  </ul>
              </li>

              <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-history" style="margin: 0px 12px 0px 10px"></i> Past Transactions  </a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                          <a href="home/bottrans"><i class="fa fa-sort-amount-up" style="margin: 0px 12px 0px 10px"></i> Imports  </a>
                      </li>
                      <li>
                          <a href="home/soldtrans"><i class="fa fa-sort-amount-down" style="margin: 0px 12px 0px 10px"></i> Exports  </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="home/update"><i class="fa fa-edit" style="margin: 0px 12px 0px 10px"></i> Edit Company Details  </a>
              </li>
          </ul>
      </nav>

    </div>
  </div>
  <div class="col-lg-9">
        <div class="container-fluid">
                <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th>Cost Price</th>
                                <th>GST Rate</th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <fieldset class="form-group">
                                        <input type="checkbox" id="checkbox1">
                                        <label for="checkbox1"></label>
                                    </fieldset>
                                </td>
                                <td>Ashley</td>
                                <td>Lynwood</td>
                                <td>@ashow</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <!-- <a class="blue-text" style="font-size:20px;color:blue;padding: 5px"><i class="fa fa-pen-square"></i></a>
                                    <a class="teal-text" style="font-size:20px;color:red;padding: 5px"><i class="fa fa-trash-alt"></i></a> -->
                                    <!-- <button id="save" class="col-lg-5 button-success" pButton type="button" (click)="postNewProduct($event)" iconPos="right" label="Save"><i class="fa fa-check"></i></button>
                                    <button id="update" class="col-lg-5 button-info" pButton type="button" (click)="updateProduct($event)" label="Update"><i class="fas fa-sync"></i></button> -->
                                    <button type="button" class="btn btn-primary"><i class="far fa-edit" style="margin-right: 5px"></i>Edit</button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-alt"style="margin-right: 5px"></i>Delete</button>
                                </td>
                            </tr>
                    
                        </tbody>
                    </table>
        </div>
    </div>
</div>

​

<app-footer></app-footer>
