<app-homeboard></app-homeboard>
<div class="container-fluid">
  <div class="col-lg-3">
    <div class="wrapper" style="margin-left: -30px">
      <!-- Sidebar -->
      <nav id="sidebar">
          <ul class="list-unstyled components">
              <li>
                <a href="home"><i class="fa fa-home" style="margin: 0px 12px 0px 10px"></i> Dashboard  </a>
              </li>
              <li class="active">
                <a href="home/products"><i class="fa fa-cubes" style="margin: 0px 12px 0px 10px"></i> Products  </a>
              </li>
              <li>

                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dolly" style="margin: 0px 12px 0px 10px"></i> Make Transactions <i class="fa fa-caret-down" style="margin-left: 20px"></i> </a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li>
                          <a href="home/buytrans"><i class="fa fa-file-import" style="margin: 0px 12px 0px 10px"></i> Buy Transactions  </a>
                      </li>
                      <li>
                          <a href="home/selltrans"><i class="fa fa-file-export" style="margin: 0px 12px 0px 10px"></i> Sell Transactions  </a>
                      </li>
                  </ul>
              </li>

              <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-history" style="margin: 0px 12px 0px 10px"></i> Past Transactions  <i class="fa fa-caret-down" style="margin-left: 29px"></i></a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                          <a href="home/bottrans"><i class="fa fa-sort-amount-up" style="margin: 0px 12px 0px 10px"></i> Imports  </a>
                      </li>
                      <li>
                          <a href="home/soldtrans"><i class="fa fa-sort-amount-down" style="margin: 0px 12px 0px 10px"></i> Exports  </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="home/update"><i class="fa fa-edit" style="margin: 0px 12px 0px 10px"></i> Edit Company Details  </a>
              </li>
          </ul>
      </nav>

    </div>
  </div>

  <div class="col-lg-9">
        <div class="container-fluid">
                <div class="row" style="padding: 20px">
                    <div class="col-lg-1">
                        <i class="fas fa-search" style="font-size:25px;padding-right:-60px"></i>
                    </div>
                    <div class="col-lg-9">
                        <input id="search" class="form-control" type="text" placeholder="Search by any field..." [(ngModel)]="search" required>   
                    </div>
                </div>
                <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Cost Price (₹)</th>
                                <th>GST Rate (%)</th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let meta of productsdata | filter:search">
                                <th scope="row">1</th>
                                <td>
                                    <fieldset class="form-group">
                                        <input type="checkbox" id="checkbox1">
                                        <label for="checkbox1"></label>
                                    </fieldset>
                                </td>
                                <td>{{meta.Product_Code}}</td>
                                <td>{{meta.Product_Name}}</td>
                                <td>{{meta.Cost_Price}}</td>
                                <td>{{meta.GST_Rate}}</td>
                                <td>{{meta.Quantity}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#updateRequestItem" (click)="updateRequest(requ)"><i class="far fa-edit" style="margin-right: 5px"></i>Edit</button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-alt"style="margin-right: 5px"></i>Delete</button>
                                </td>
                            </tr>
                    
                        </tbody>
                </table>
        </div>
    </div>
</div>
<div class="modal fade" id="updateRequestItem" role="dialog" style="margin-top:20px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background: url('https://us.123rf.com/450wm/fascinadora/fascinadora1607/fascinadora160700020/60259862-marble-board-empty-table-in-front-of-blurred-background-perspective-marble-table-over-blurred-colorf.jpg?ver=6');background-position: center;background-repeat: no-repeat;background-size: cover;">
            <div class="card-body container" style="text-align:center;height:100%;width:100%;padding:30px"> 
                <div class="col-lg-12" style="margin-bottom:25px">
                    <b style="font-size:25px;">Update Item details below</b>
                </div>

                <div>
                    <div class="form-group row" style="padding:10px 20px 10px 20px"> 
                        <div class="col-lg-3"> 
                            <label class="control-label" style="font-size:17px;color:#5D1049">Product Code</label>
                        </div>
                        <div class="col-lg-6">
                            <input id="userAddress" type="text" class="form-control"  style="height: 40px;" [(ngModel)]="code" value={{particular.price}}>
                        </div>
                                
                    </div>
                    <div class="form-group row" style="padding:10px 20px 10px 20px"> 
                        <div class="col-lg-3"> 
                            <label class="control-label" style="font-size:17px">Product Name</label>
                        </div>
                        <div class="col-lg-6">
                            <input id="userName" type="text" class="form-control"  style="height: 40px;" [(ngModel)]="name" value={{particular.name}}>
                        </div>
                        
                    </div>
                    <div class="form-group row" style="padding:10px 20px 10px 20px"> 
                        <div class="col-lg-3"> 
                            <label class="control-label" style="font-size:17px">Cost Price</label>
                        </div>
                        <div class="col-lg-6">
                            <input id="userAddress" type="text" class="form-control"  style="height: 40px;" [(ngModel)]="price" value={{particular.price}}>
                        </div>
                            
                    </div>
                    <div class="form-group row" style="padding:10px 20px 10px 20px"> 
                        <div class="col-lg-3"> 
                            <label class="control-label" style="font-size:17px">GST Rate</label>
                        </div>
                        <div class="col-lg-6">
                            <input id="userEmail" type="text" class="form-control"  style="height: 40px;" [(ngModel)]="gst" value={{particular.category}}>
                        </div>
                            
                    </div>
                    <div class="form-group row" style="padding:10px 20px 10px 20px"> 
                        <div class="col-lg-3"> 
                            <label class="control-label" style="font-size:17px">Quantity</label>
                        </div>
                        <div class="col-lg-6">
                            <input id="userMobile" type="text" class="form-control"  style="height: 40px;"  [(ngModel)]="quantity" value={{particular.description}}>
                        </div>
                                
                    </div>
                    <button type="button" class="btn btn-primary"  (click)="updateRequestItem()"><i class="fas fa-check"></i><b style="padding-left:10px">Update</b></button>
                    <button type="button" class="btn btn-danger"  (click)="deleteRequestItem()"><i class="far fa-trash-alt"></i><b style="padding-left:10px">Delete</b></button>
                </div>
            </div>
        </div>
    </div>
</div>
​

<app-footer></app-footer>
