<div id="scroll-animate scroll-animate-main wrapper-parallax">
  <header class="row" style="margin-top:-40px;padding-top:0px">
    <div class="page-header" style="background-color:#2c2c2c">
  
      <div class="container">
        <img class="col-lg-3 col-md-3 col-sm-6 col-xs-12 logo" src="../assets/igst.jpg" align="left" style="position:relative;margin-left:-150px;margin-top:10px;max-height:100px">
        <b class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="center" style="color:#da3730;font-size:40px;padding-top:25px;margin-left:-50px;vertical-align: middle;">
          iGST
          <b style="font-size:40px;color:white">|</b>
          <small class="" style="color: #a6a6a6;font-size:20px;" > GST Invoice and Billing Application</small>
        </b>
        
        <div *ngIf="editedSignIn" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 " style="float:right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float:right;margin-left:400px;margin-top:30px;font-size:30px;font-family:'Comic Sans MS', cursive, sans-serif" type="">Login</button>
        </div>
        <div [hidden]="editedSignOut" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 " style="float:right">
            <button type="button" class="btn btn-primary" style="float:right;margin-left:400px;margin-top:30px;font-size:30px;font-family:'Comic Sans MS', cursive, sans-serif" (click)="LogoutEvent()">Logout</button>
        </div>
      </div>
    </div>
  </header>

  
</div>