<div id="chartContainer1" style="height: 300px; width: 80%;"></div>
<div id="chartContainer2" style="height: 300px; width: 80%;"></div>
<div id="chartContainer3" style="height: 300px; width: 80%;"></div>
<div id="chartContainer4" style="height: 300px; width: 80%;"></div>

<div id="chartContainer5" style="height: 300px; width: 80%;"></div>
<div id="chartContainer6" style="height: 300px; width: 80%;"></div>
<div id="chartContainer7" style="height: 300px; width: 80%;"></div>
<div id="chartContainer8" style="height: 300px; width: 80%;"></div>
<div id="chartContainer9" style="height: 300px; width: 80%;"></div>
<!-- <h1>Form Upload</h1>
<input type="file" (change)="onFileSelected($event)">
<button type="button" (click)="onUpload()">Upload</button> -->