<div class="main-navigation navbar-fixed-top">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="container-fluid" style="margin:-20px 0px 0px -50px;padding-bottom: -50px">
          <img class="navbar-brand" src="../assets//igst1.jpg">
          <a class="navbar-brand" href="/" style="padding-top:20px">i-GST</a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#banner">Home</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#portfolio">Featured Works</a></li>
          <li><a href="/register/company">Register Company</a></li>
          <li><a href="/register">Register Employee</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid" style="background-image: linear-gradient(to left,#282726 , #f05837);padding-top: 50px ">
  <div class="container login-container" style="padding: 20px">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login Form 1</h3>
            
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">Forget Password?</a>
                </div>
            
        </div>
        <div class="col-md-6 login-form-2">
            <div class="login-logo">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            </div>
            <h3>Login Form 2</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">

                    <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
                </div>
            
        </div>
    </div>
  </div>
</div>