<app-homeboard></app-homeboard>
<div class="container-fluid">
  <div class="col-lg-3">
    <div class="wrapper" style="margin-left: -30px">
      <!-- Sidebar -->
      <nav id="sidebar" style="height:80vh">
          <ul class="list-unstyled components">
              <li>
                <a href="home"><i class="fa fa-home" style="margin: 0px 12px 0px 10px"></i> Dashboard  </a>
              </li>
              <li>
                <a href="home/products"><i class="fa fa-cubes" style="margin: 0px 12px 0px 10px"></i> Products  </a>
              </li>
              <li class="active">

                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dolly" style="margin: 0px 12px 0px 10px"></i> Make Transactions  <i class="fa fa-caret-down" style="margin-left: 20px"></i></a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li>
                          <a href="home/buytrans"><i class="fa fa-file-import" style="margin: 0px 12px 0px 10px"></i> Buy Transactions  </a>
                      </li>
                      <li>
                          <a href="home/selltrans"><i class="fa fa-file-export" style="margin: 0px 12px 0px 10px"></i> Sell Transactions  </a>
                      </li>
                  </ul>
              </li>

              <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-history" style="margin: 0px 12px 0px 10px"></i> Past Transactions  <i class="fa fa-caret-down" style="margin-left: 29px"></i></a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                          <a href="home/bottrans"><i class="fa fa-sort-amount-up" style="margin: 0px 12px 0px 10px"></i> Imports  </a>
                      </li>
                      <li>
                          <a href="home/soldtrans"><i class="fa fa-sort-amount-down" style="margin: 0px 12px 0px 10px"></i> Exports  </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="home/update"><i class="fa fa-edit" style="margin: 0px 12px 0px 10px"></i> Edit Employee Details  </a>
              </li>
          </ul>
      </nav>

    </div>
  </div>
  <div class="col-lg-9" style="margin-left:-50px;background-image: url('https://s3.envato.com/files/120334242/Preview%20image%20set/blue-grey-light-blue.png');background-repeat: no-repeat;background-size: cover;padding:10px">

        <div class="row">
          <div class="col-lg-8">
                <b style="font-size: 20px;">Add the products below</b>
                <form class="form-inline" (submit)="SellTransaction($event)" style="margin-bottom:20px;border:2px solid teal;border-radius: 10px;padding: 10px">
                    
                    <div class="form-group">
                        
                      <input type="text" value="Date:         {{DOT}}" class="form-control" disabled>
                    </div>
                    <div class="form-group" style="padding-left:10px">
                      <label for="pwd">To Company Name:</label>
                      <input type="text" class="form-control" id="pwd">
                    </div>
                    <button type="submit" class="btn btn-warning">Sell</button>
                </form>
                
                <table class="table table-striped table-bordered" style="margin-top:20px">
                        
                  <thead>
                      <tr>
                            <th>Product ID</th>

                          <th>Quantity</th>
                          <th>Cost Per Item (₹)</th>
                          <th>Loss/Gain (₹)</th>
                          <th>Net Cost (₹)</th>
                          <!-- <th>Action</th> -->
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let field of fieldArray; let i = index">
                            <td>
                                <input [(ngModel)]="field.id" class="form-control" type="number" disabled/>
                            </td>

                          <td>
                              <input [(ngModel)]="field.quantity" class="form-control" type="number"  />
                          </td>
                          <td>
                              <input [(ngModel)]="field.cost" class="form-control" type="number"/>
                          </td>
                          <td>
                            <input [(ngModel)]="field.cost*field.quantity-field.actprice*field.quantity" class="form-control" type="number" disabled/>
                          </td>
                          <td>
                            <input [(ngModel)]="field.cost*field.quantity" class="form-control" type="text" disabled/>
                          </td>
                      </tr>

                  </tbody>
                  <tfoot>
                      <td></td>
                      <td>
                            <!-- <button type="button" class="btn btn-primary" (click)="printconsole()" style="font-size:20px">-></button> -->
                      </td>
                      <td></td>
                      <td>Gross Total (₹):</td>
                      <td>{{getGrossTotal()}}</td>
                  </tfoot>
                </table>
          </div>
          <div class="col-lg-4">
                <div class="col-lg-1">
                        <i class="fas fa-search" style="font-size:25px;padding-right:-60px"></i>
                    </div>
                    <div class="col-lg-10" style="padding-bottom:10px">
                        <input id="search" class="form-control" type="text" placeholder="Search by any field..." [(ngModel)]="search" required>   
                    </div>
                <table class="table table-hover">
                    
                  <thead>
                      <tr>
                          <!-- <th>#</th> -->
                          <!-- <th></th> -->
                          <th>Product Code</th>
                          <th>Product Name</th>
                          <th>Cost Price (₹)</th>
                          <!-- <th>GST Rate (%)</th> -->
                          <th>Remaining Quantity</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let meta of productsdata | filter:search">
                          <!-- <th scope="row">1</th> -->
                          <!-- <td>
                              <fieldset class="form-group">
                                  <input type="checkbox" id="checkbox1">
                                  <label for="checkbox1"></label>
                              </fieldset>
                          </td> -->
                          <td>{{meta.Product_Code}}</td>
                          <td>{{meta.Product_Name}}</td>
                          <td>{{meta.Cost_Price}}</td>
                          <!-- <td>{{meta.GST_Rate}}</td> -->
                          <td>{{meta.Quantity}}</td>
                          <td id="{{meta.Product_ID}}">
                              <button type="button" class="btn btn-danger"  (click)="addFieldValue(meta)" style="font-size:20px">+</button>
                              <!-- <button type="button" class="btn btn-danger"><i class="fa fa-trash-alt"style="margin-right: 5px"></i>Delete</button> -->
                          </td>
                      </tr>
              
                  </tbody>
                </table>
          </div>
        </div>
  </div>
</div>

​

<app-footer></app-footer>
