.avatar{

    border-radius: 50%;
    position: absolute;
    max-height: 30%;
    max-width: 15%;

}
.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.card1{
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);
    transition: 0.2s;
    font-family:'Arial Black', Gadget, sans-serif!important;
}
.card1:hover {
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.5);
    cursor: pointer;
}
.x2 {
    border-left: 10px solid #9900cc;
    background-color: #eeccff;
}

.x3 {
    border-left: 10px solid #e600ac;
    background-color: #ffe6ff;
}
.x4 {
    border-left: 10px solid #751aff;
    background-color: #f0e6ff;
}

