<app-homeboard></app-homeboard>
<div class="container-fluid">
  <div class="col-lg-3">
    <div class="wrapper" style="margin-left: -30px">
      <!-- Sidebar -->
      <nav id="sidebar">
          <ul class="list-unstyled components">
              <li>
                <a href="home"><i class="fa fa-home" style="margin: 0px 12px 0px 10px"></i> Dashboard  </a>
              </li>
              <li>
                <a href="home/products"><i class="fa fa-cubes" style="margin: 0px 12px 0px 10px"></i> Products  </a>
              </li>
              <li>

                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dolly" style="margin: 0px 12px 0px 10px"></i> Make Transactions  <i class="fa fa-caret-down" style="margin-left: 20px"></i></a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li>
                          <a href="home/buytrans"><i class="fa fa-file-import" style="margin: 0px 12px 0px 10px"></i> Buy Transactions  </a>
                      </li>
                      <li>
                          <a href="home/selltrans"><i class="fa fa-file-export" style="margin: 0px 12px 0px 10px"></i> Sell Transactions  </a>
                      </li>
                  </ul>
              </li>

              <li class="active">
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-history" style="margin: 0px 12px 0px 10px"></i> Past Transactions <i class="fa fa-caret-down" style="margin-left: 29px"></i> </a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                          <a href="home/bottrans"><i class="fa fa-sort-amount-up" style="margin: 0px 12px 0px 10px"></i> Imports  </a>
                      </li>
                      <li>
                          <a href="home/soldtrans"><i class="fa fa-sort-amount-down" style="margin: 0px 12px 0px 10px"></i> Exports  </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="home/update"><i class="fa fa-edit" style="margin: 0px 12px 0px 10px"></i> Edit Employee Details  </a>
              </li>
          </ul>
      </nav>

    </div>
  </div>
  <div class="col-lg-9">
        <div class="container-fluid">
                <div class="row" style="padding: 20px">
                    <div class="col-lg-1">
                        <i class="fas fa-search" style="font-size:25px;padding-right:-60px"></i>
                    </div>
                    <div class="col-lg-9">
                        <input id="search" class="form-control" type="text" placeholder="Search by any field..." [(ngModel)]="search" required>   
                    </div>
                </div>
                <table class="table table-hover">
                        <thead>
                                <tr>
                                    <th>DOT</th>
                                    <th>Transaction ID</th>
                                    <th>To Company</th>
                                    <th>Total Cost</th>
                                    <th>Profit / Loss</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let meta of productsdata | filter:search">
                                        <td>{{meta.DOT}}</td>
                                    <td>{{meta.Transaction_ID}}</td>
                                    <td>{{meta.ToCompany}}</td>
                                    <td>{{meta.TotalCost}}</td>
                                    <td>{{meta.Profit_Loss}}</td>
                                </tr>
                        
                            </tbody>
                </table>
        </div>
    </div>
</div>

​

<app-footer></app-footer>
