<div id="scroll-animate scroll-animate-main wrapper-parallax">
    <header class="row" style="margin-top:-40px;padding-top:0px">
      <div class="page-header" style="background-color:#2c2c2c">
    
    
        <div class="container">
          <img class="col-lg-3 col-md-3 col-sm-6 col-xs-12 logo" src="../assets/emereNvendre.svg" align="left" style="position:relative;margin-left:-150px;margin-top:10px;max-height:100px">
          <b class="col-lg-3 col-md-3 col-sm-6 col-xs-12 " align="center" style="color:#da3730;font-size:40px;padding-top:25px;margin-left:-50px;vertical-align: middle;">emereNvendre</b>
          <small class="col-lg-3 col-md-3 col-sm-6 col-xs-12 " style="color: #a6a6a6;font-size:20px;padding-top:80px;margin-left:-50px" > NITK's Sharing Platform</small>
        </div>
        </div>
        </header>
        </div>
<div class="container card" style="padding:40px">
        <div class="col-lg-12" >
                <form (submit)="PostRequest($event)" class="form-vertical" id="metaId" style="background-color:#eeccff;padding:20px">
                    <div  style="padding: 20px;">
                        <div class="col-sm-4 col-lg-4" style="font-size:25px;font-family:'Comic Sans MS', cursive, sans-serif"><b>Request for Product</b></div>
                    </div>
                    <div class="form-group" style="padding: 40px 20px 20px 20px;">
                        <label class="col-sm-2 col-lg-2 control-label " style="padding-top:10px">Name</label>
                        <div class="col-sm-10 col-lg-10">
                            <input type="text" class="form-control ">
                        </div>
                    </div>
                    <div class="form-group" style="padding: 20px;">
                        <label class="col-sm-2 col-lg-2 control-label " style="padding-top:10px">Price</label>
                        <div class="col-sm-10 col-lg-10">
                            <input type="number" class="form-control " required>
                        </div>
                    </div>
          
                    <div class="form-group" style="padding: 20px;">
                        <label class="col-sm-2 col-lg-2 control-label" style="padding-top:10px">Description</label>
                        <div class="col-sm-10 col-lg-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" style="padding: 20px;">
                            <label class="col-sm-2 col-lg-2 control-label" style="padding-top:10px">Category</label>
                            <div class="col-sm-10 col-lg-10">
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group" style="display: flex; align-content: center; justify-content: center; align-items: center; padding:40px;">
                        <div class="col-sm-offset-2 col-sm-10" style ="float:left">
                            <button class="btn btn-primary" style ="width:200px;">REQUEST</button>
                        </div>
                    </div>
                </form>
            </div>
</div>
<app-footer></app-footer>